.Transaction-card{
    border: 1px solid #f0f0f0;
    margin: 10px 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #f0f0f0;
    position: relative;
}
.TransactionCardTitle{
    margin: 0 ;
}
.TransactionCardDate{
    font-size: 15px;
}
.TransactionCardCategory{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    padding: 3px 15px;
    border: none;
}
.TransactionCardAmount{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 30px;
}
.transaction-card-delete{
    background-color: black;
    color: white;
    border: none;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px 10px;
   margin: 30px;
   cursor: pointer;
}
