body{
    background-color: #ebc8eb;
    background-image: linear-gradient(0deg, #dcbcdc 0%, #a1d0d6 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    min-height: 100vh;
}
.greeting{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 35px;
}
.homeLogout{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 10px #f0f0f0;
    border-radius: 20px;
    padding: 10px 18px;
}
.netTransactionvalue{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.netTransactionItem{
    box-shadow: 0 0 10px #f0f0f0;
    border: 1px solid #ffff;
    padding: 20px;
    border-radius: 10%;
}
.net-transaction-value-title{
    display: block;
    text-align: center;
}
.net-transaction-value-amount{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.transactionsContainer{
    max-height: 400px;
    overflow-y: scroll;
}
.AddTransaction{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #f0f0f0;
    border-radius: 50%;
}
.AddTransaction:hover{
    background-color: #cce6ff;
}